{% set b2 = lookup('keepass', pve_backup_b2_entry) | from_yaml %}
# {{ ansible_managed }}
#
# Read by systemd as an EnvironmentFile. Values come from the {{ pve_backup_b2_entry }}
# entry of the automation database, read on the machine that ran Ansible.
AWS_ACCESS_KEY_ID={{ b2.key_id }}
AWS_SECRET_ACCESS_KEY={{ b2.application_key }}
RESTIC_REPOSITORY=s3:https://{{ b2.endpoint }}/{{ b2.bucket_name }}
RESTIC_PASSWORD_FILE={{ pve_backup_repo_password_path }}
